:root
{
    --primary--color:#696CFF;
    --secondary--color:#8592A3;
    --success--color:#71DD37;
    --danger--color:#FF3E1D;
    --warning--color: #FFAB00;
    --info--color: #03C3EC;
    --dark--color:#233446;
}


.primary.normal{
    color: white;
    background-color: var(--primary--color);
    border: 2px solid var(--primary--color);
    border-radius: 8px;
}
.secondary.normal{
    color: white;
    background-color: var(--secondary--color);
    border: 2px solid var(--secondary--color);
    border-radius: 8px;
}
.success.normal{
    color: white;
    background-color: var(--success--color);
    border: 2px solid var(--success--color);
    border-radius: 8px;
}
.danger.normal{
    color: white;
    background-color: var(--danger--color);
    border: 2px solid var(--danger--color);
    border-radius: 8px;
}
.warning.normal{
    color: white;
    background-color: var(--warning--color);
    border: 2px solid var(--warning--color);
    border-radius: 8px;
}
.info.normal{
    color: white;
    background-color: var(--info--color);
    border: 2px solid var(--info--color);
    border-radius: 8px;
}
.primary.normal{
    color: white;
    background-color: var(--primary--color);
    border: 2px solid var(--primary--color);
    border-radius: 8px;
}
.dark.normal{
    color: white;
    background-color: var(--dark--color);
    border: 2px solid var(--dark--color);
    border-radius: 8px;
}

/* outlined */
.primary.outlined{
    color: var(--primary--color);
    background-color: white;
    border: 2px solid var(--primary--color);
    border-radius: 8px;
}

.secondary.outlined{
    color:var(--secondary--color);
    background-color: white;
    border: 2px solid var(--secondary--color);
    border-radius: 8px;
}
.success.outlined{
    color: var(--success--color);
    background-color: white;
    border: 2px solid var(--success--color);
    border-radius: 8px;
}
.danger.outlined{
    color: var(--danger--color);
    background-color: white;
    border: 2px solid var(--danger--color);
    border-radius: 8px;
}
.warning.outlined{
    color: var(--warning--color);
    background-color: white;
    border: 2px solid var(--warning--color);
    border-radius: 8px;
}
.info.outlined{
    color: var(--info--color);
    background-color: white;
    border: 2px solid var(--info--color);
    border-radius: 8px;
}
.dark.outlined{
    color: var(--dark--color);
    background-color: white;
    border: 2px solid var(--dark--color);
    border-radius: 8px;
}



.small{
    font-size: small;
    padding: 5px 10px;
}
.medium{
    font-size: medium;
    padding: 10px 10px;
}
.large{
    font-size: large;
    padding: 16px 10px;
}

.disabled
{
    cursor: not-allowed;
    opacity: 0.3;
}